.image-wrapper{
    flex-basis: 20%;
    
}
@media screen and (max-width:500px){
    .image-wrapper{
        flex-basis:40%;;
    }
}
@media screen and (max-width:390px){
    .image-wrapper{
        flex-basis: 100%;;
    }
}
.image-wrapper img{
    width:100%;
    border-radius:20px;
}